body {
  font-family: "Epilogue", sans-serif;
  font-size: 18px;
  font-weight: 500;
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 41%);
  line-height: 1.6;
}

/* === Header === */
.header-block {
  padding: 2rem 4rem;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-right: 3rem;
  height: 24px;
}
.logo img {
  height: 100%;
}

.navbar {
  flex: 1;
}
.navbar a {
  color: hsl(0, 0%, 41%);
}

.nav-ul {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  list-style: none;
}
.nav-ul > li > a:hover {
  color: hsl(0, 0%, 8%);
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: hsl(0, 0%, 41%);
  font-weight: 500;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 99;
  min-width: 180px;
}

.dropdown-menu li {
  padding: 0.5rem 0;
}

.dropdown-menu li a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: hsl(0, 0%, 41%);
  white-space: nowrap;
}

.dropdown:hover .dropdown-menu,
.dropdown-menu:hover {
  display: block;
}

.arrow {
  width: 10px;
}

.arrow-up {
  display: none;
}

.dropdown:hover .arrow-up {
  display: inline;
}

.dropdown:hover .arrow-down {
  display: none;
}

/* === Auth Buttons === */
.auth-buttons {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.login {
  color: hsl(0, 0%, 41%);
  font-weight: 500;
}
.login:hover {
  color: hsl(0, 0%, 8%);
}
.register {
  padding: 0.5rem 1.5rem;
  border: 1px solid hsl(0, 0%, 41%);
  border-radius: 12px;
  font-weight: 500;
  color: hsl(0, 0%, 41%);
  transition: all 0.3s ease;
}

.register:hover {
  border-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 8%);
}

/* === Hero Section === */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 8rem;
}

.hero-left {
  max-width: 550px;
}

.hero-left h1 {
  font-size: 4rem;
  color: hsl(0, 0%, 8%);
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 2rem;
}

.hero-left p {
  color: hsl(0, 0%, 41%);
  margin-bottom: 2.5rem;
}

.btn-primary {
  background-color: hsl(0, 0%, 8%);
  color: white;
  padding: 1rem 2rem;
  border-radius: 12px;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 4rem;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  border: 1px solid hsl(0, 0%, 8%);
}

.clients {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.hero-right img {
  width: 100%;
  max-width: 450px;
}
